$primary-color: #007bff;
$secondary-color: #f8f9fa;
$border-color: #ddd;
$input-bg-color: #f1f1f1;
$input-focus-color: #007bff;
$table-header-bg: #007bff;
$table-header-color: rgb(81, 74, 74);
$table-row-hover-bg: #f1f1f1;
$balance-color: #4caf50;
$error-color: #e74c3c;
