@import './colors';

.transactions {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  border-radius: 10px;

  .section {
    width: 30%;
    display: inline-block;
    flex-direction: column;
    gap: 10px;

    .filter-input {
      padding: 10px;
      font-size: 12px;
      border: 1px solid $border-color;
      border-radius: 5px;
      transition: border-color 0.3s ease-in-out;

      &:focus {
        border-color: $input-focus-color;
        outline: none;
      }
    }
  }

  .no-records {
    text-align: center;
    font-size: 16px;
    color: $error-color;
    margin-top: 20px;
    font-style: italic;
  }

  .sectionHeader {
    font-size: 14px;
    margin: 15px 10px 5px 5px;
    color: #333;
  }

  .balance {
    margin: 20px 0;
    padding: 5px;
    background-color: $secondary-color;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: $balance-color;
    font-size: 14px;
    display: flex;

    p {
      margin: 15px 0;
    }
  }
}
  